.site-header {
    background-image: url("../../images/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-link ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    a{
        font-family: Roboto;
font-size: 15px;
font-weight: 700;
line-height: 14.06px;
letter-spacing: 1px;
color: black;
transition: all 0.4s;
    }
    a:hover{
        color: rgb(255, 170, 0);
    }
}