.hero-section{
    background-image: url("../../images/bg-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 0 135px 0;
}
.hero{
    width: 464px;
    height: 331px;
    margin-top: 156px;
    h1{
        font-family: Roboto;
font-size: 64px;
font-weight: 700;
line-height: 75px;
margin-bottom: 24px;
    }
    p{
        margin-bottom: 34px;
        font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
    }
    button{
        background-color: #0A775F;
        border-radius: 100px;
        border: 2px solid transparent;
        padding: 16px;
        color: white;
        font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 18.75px;
letter-spacing: 1px;
transition: all 0.4s;
    }
    button:hover{
        background-color: transparent;
        border: 2px solid #0A775F;
        color: #0A775F;
    }
}
.hero-right{
    position: relative;
    img{
        position: absolute;
        right: 0;
        top: -562px;
        margin-left: 116px;
    }
}